[submodule "deps/jsstyle"]
	path = deps/jsstyle
	url = https://github.com/joyent/jsstyle.git
[submodule "deps/javascriptlint"]
	path = deps/javascriptlint
	url = https://github.com/joyent/javascriptlint.git
[submodule "deps/manta-scripts"]
	path = deps/manta-scripts
	url = https://github.com/joyent/manta-scripts.git
[submodule "deps/sdc-scripts"]
	path = deps/sdc-scripts
	url = https://github.com/joyent/sdc-scripts.git
[submodule "deps/zookeeper-common"]
	path = deps/zookeeper-common
	url = https://github.com/joyent/zookeeper-common.git
[submodule "deps/mname-balancer"]
	path = deps/mname-balancer
	url = https://github.com/joyent/mname-balancer.git
[submodule "deps/eng"]
	path = deps/eng
	url = https://github.com/joyent/eng.git
