/make_stamps
/node_modules
/tmp
/bits
/build
/cache
docs/*.json
docs/*.html
cscope.in.out
cscope.po.out
cscope.out
smf/manifests/*.xml
*.tar.gz
core
obj/
balancer
smf_adjust
/.nyc_output
/test.tap
zklog
